mixin link(href, name)
  a(class!=attributes.class, href=href)= name

mixin item-linked(href, name)
  li
    a(class!=attributes.class, href=href)= name

mixin img(imgname)
  img(class!=attributes.class, src='assets/images/#{imgname}')

mixin img-caption(imgname,caption)
  .thumbnail.img-caption
    img(src='assets/images/#{imgname}')
    .caption
      p #{caption}

mixin thumbnail-product(prodname,category,description,price)
  .thumbnail.product
    .header
      h3= prodname
      p= category
    .info
      p= description
        a(href="/") &nbsp; read more...
      p.price $#{price}
      a.btn.btn-success.btn-addcart(href="/")
        span.glyphicon.glyphicon-shopping-cart
        | &nbsp; Add to Cart

mixin category-product(prodname,description,price)
  .thumbnail.product
    .header
      h3= prodname
    .info
      p= description
        a(href="/") &nbsp; read more...
      p.price $#{price}
      a.btn.btn-success.btn-addcart(href="/")
        span.glyphicon.glyphicon-shopping-cart
        | &nbsp; Add to Cart

mixin feedback(testimonial,name,position,imgname)
  .testimonial-item
    p.triangle-border= testimonial
    .media
      img.pull-left.media-object.img-circle(src="assets/images/#{imgname}")
      .media-body
        h4.media-heading= name
        p= position

mixin times(limit)
  - for (var i = 1; i <= limit; i++) {
    block
  - }

mixin definition(dt,dd)
  dl: dt= dt
    dd= dd